# **Bibliografia e Recursos**
<hr>

## Bibliografia

1. Kieran Healy. **Data Visualization: A Practical Introduction** (2019)

2. Danyel Fisher, Miriah Meyer.  **Making Data Visual: A Practical Guide to Using Visualization for Insight** (2017) 

3. Edward R. Tufte. **The Visual Display of Quantitative Information Hardcover** (2001)

4. Claus O. Wilke. **Fundamentals of Data Visualization: A Primer on Making Informative and Compelling Figures** (2019)  

5. Samuel Burns. **Python Data Visualization: An Easy Introduction to Data Visualization in Python with Matplotlip, Pandas, and Seaborn** (2019) 

6. McKinney Wes. **Python for data analysis (1st. ed.)**. O'Reilly Media, Inc. (2012)  

7. Jake VanderPlas. **Python Data Science Handbook**. O'Reilly Media, Inc. (2016). ISBN: 9781491912058. 
Disponível em: https://jakevdp.github.io/PythonDataScienceHandbook/. Acesso: 17.05.2021

## Livros 

Outros livros úteis sobre visualização de dados.

1. Cole Nussbaumer Knaflic. **Storytelling with Data: A Data Visualization Guide for Business Professionals Paperback** (2015)

## Galerias de Gráficos

Esses site trazem exemplos e definições de gráficos muitas vezes acompanhadas de exemplos de código.

1. https://www.data-to-viz.com/. Traz uma classificação de tipos de gráfico com base no formato de dados de entrada (dados numéricos, categóricos etc.) e apresenta uma árvore de decisão que leva a um conjunto de visualizações potencialmente mais adequadas. Aprensenta ainda exemplos em `Python`, `R` e `D3.js`. 

2. https://www.python-graph-gallery.com/. Uma biblioteca com centenas exemplos de gráficos produzidos em Python. Os gráficos estã organizados em cerca de 40 seções e sempre vêm com um código exemplo associado empregando principalmente com `Matplotlib`, mas também os pacotes `Seaborn` e `Plotly`.

3. https://datavizproject.com/. Uma biblioteca de diferentes tipos gráficos. Os gráficos podem ser também selecionados por função. Não há códigos, mas fornece para cada visualização links para ferramentas de visualização e exemplos.

4. https://datavizcatalogue.com/. Uma biblioteca de diferentes tipos de visualização de dados e informação. Não há códigos, mas fornece para cada visualização links para ferramentas de visualização e exemplos.

## Pacotes e Software

Relação de sites de Pacotes e Softwares úteis, empregados aqui.

1. **`Python`** https://www.python.org/. Programming language, API e Docs.

2. **`NumpPy`** https://numpy.org/.  Package for scientific computing with Python, API e Docs.

3. **`Pandas`** https://pandas.pydata.org/.  Data analysis and manipulation tool, API e Docs.

4. **`Matplotlib`** https://matplotlib.org/  Visualization with Python, API e Docs.

5. **`Seaborn`** https://seaborn.pydata.org/  Statistical Data Visualization, API e Docs.

6. **`SciPy`** https://www.scipy.org/  Python Scientific eco-system, API e Docs.

7. **`Scikit-learn`** https://scikit-learn.org/ Machine Learning in Python, API e Docs.

8. **`Statsmodels`** https://www.statsmodels.org/ statistical models, hypothesis tests, and data exploration, API e Docs.

## Tutoriais e Consultas Rápidas

1. **`w3Schools`** https://www.w3schools.com/ Tutoriais básicos de `Python`, `Numpy`, `Pandas` e `Matplotlib` dentre outros.

2. **Charting in Colaboratory** https://colab.research.google.com/notebooks/charts.ipynb Gráficos em comandos básicos no Google Colaboratory.

## Miscelânea

1. **Google Colab** https://colab.research.google.com/ Ambiente web para edição e execução de `Python` Jupyter notebooks, incluindo tutorais de uso de Jupyter notebooks, Markdown etc.

## Versões de Software 

Versões dos principais pacotes empregados para reprodução dos códigos deste livro.

In [ ]:
!pip install version_information

In [9]:
import numpy as np 
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import statsmodels
%matplotlib inline

%reload_ext version_information
%version_information numpy, pandas, matplotlib, seaborn, scipy, statsmodels

Software versions
Python 3.7.10 64bit [GCC 7.5.0]
IPython 5.5.0
OS Linux 5.4.109+ x86_64 with Ubuntu 18.04 bionic
numpy 1.19.5
pandas 1.1.5
matplotlib 3.2.2
seaborn 0.11.1
scipy 1.4.1
statsmodels 0.10.2
Wed May 19 23:14:02 2021 UTC

## Arquivos de Dados Empregados

Todos os arquivos empregados neste livro foram extraídos ou adaptados de dados públicos replicados no site para garantia de reprodutibilidade dos programas.

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/'

lista = pd.read_csv(url + '_datasets_info.csv')

for dataset in lista.dataset:
  print('dataset: ' + dataset)
  print('URL    : ' + url + dataset)
  print('Source : ' + lista[ lista.dataset == dataset ].source.values[0])
  print('\n')
  df = pd.read_csv(url + dataset)
  display(df.head())
  print('\n')

dataset: mtcars.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/mtcars.csv
Source : R package, https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/00Index.html

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

dataset: mystocksn.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/mystocksn.csv
Source : A partir do Yahoo Finance API, https://finance.yahoo.com/

         data      IBOV  VALE3  PETR4   DOLAR
0  2020-02-27  102984.0   9.92  12.08  4.4491
1  2020-02-28  104172.0   9.82  12.10  4.4848
2  2020-03-02  106625.0  10.27  12.49  4.4413
3  2020-03-03  105537.0  10.22  12.16  4.4724
4  2020-03-04  107224.0  10.56  12.33  4.5132

dataset: Life_Expectancy_Data.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/Life_Expectancy_Data.csv
Source : WHO World Health Organization, https://www.who.int/

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

dataset: gapminder_2015.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/gapminder_2015.csv
Source : Gapminder, https://www.gapminder.org/

  continent        country  year  ...  Co2Emissions   CPI  Population
0    Africa       Botswana  2015  ...         2.560  63.0     2120000
1    Africa   Burkina Faso  2015  ...         0.182  38.0    18100000
2    Africa  Cote d'Ivoire  2015  ...         0.405  32.0    23200000
3    Africa          Egypt  2015  ...         2.370  36.0    92400000
4    Africa          Kenya  2015  ...         0.341  25.0    47900000

[5 rows x 16 columns]

dataset: tips.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/tips.csv
Source : Seaborn package, https://github.com/mwaskom/seaborn-data/blob/master/tips.csv

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

dataset: sp500_ibov.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/sp500_ibov.csv
Source : A partir do Yahoo Finance API, https://finance.yahoo.com/

         Date        SP500      IBOV
0  2020-01-02  3257.850098  118573.0
1  2020-01-03  3234.850098  117707.0
2  2020-01-06  3246.280029  116878.0
3  2020-01-07  3237.179932  116662.0
4  2020-01-08  3253.050049  116247.0

dataset: T1_reshape.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/T1_reshape.csv
Source : Kaggle, adaptado de https://www.kaggle.com/berkerisen/wind-turbine-scada-dataset

   Index  WindSpeed(m/s)  ActivePower(kW)  ...  Loss(%)  count  direction
0      1             3.5            43.46  ...    38.02     29          N
1      2             4.0            88.01  ...    31.60    101          N
2      3             4.5           160.51  ...    26.42    102          N
3      4             5.0           274.71  ...    18.44     99          N
4      5             5.5           388.60  ...    16.79    119          N

[5 rows x 8 columns]

dataset: T1_reshape_mean.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/T1_reshape_mean.csv
Source : Kaggle, adaptado de https://www.kaggle.com/berkerisen/wind-turbine-scada-dataset

   Unnamed: 0  WindSpeed(m/s)  ...    Loss(%)       count
0           0             3.5  ...  23.584167   56.250000
1           1             4.0  ...  23.646667  144.666667
2           2             4.5  ...  17.488333  149.500000
3           3             5.0  ...  14.937500  143.750000
4           4             5.5  ...  14.838333  167.666667

[5 rows x 7 columns]

dataset: corona_Brasil.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/corona_Brasil.csv
Source : Corona Vírus Brasil, https://covid.saude.gov.br

   regiao  estado  ...  emAcompanhamentoNovos  interior/metropolitana
0  Brasil     NaN  ...                    NaN                     NaN
1  Brasil     NaN  ...                    NaN                     NaN
2  Brasil     NaN  ...                    NaN                     NaN
3  Brasil     NaN  ...                    NaN                     NaN
4  Brasil     NaN  ...                    NaN                     NaN

[5 rows x 17 columns]

dataset: flights_delays_2015.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/flights_delays_2015.csv
Source : Kaggle, adaptado de https://www.kaggle.com/usdot/flight-delays

   arr_delay                   name
0       11.0  United Air Lines Inc.
1       20.0  United Air Lines Inc.
2       12.0  United Air Lines Inc.
3        7.0  United Air Lines Inc.
4      -14.0  United Air Lines Inc.

dataset: glassdoordata.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/glassdoordata.csv
Source : Glassdoor, a partir de https://www.glassdoor.com.br/

              jobtitle  gender  age  ...  seniority  income  bonus
0     Graphic Designer  Female   18  ...          2   42363   9938
1    Software Engineer    Male   21  ...          5  108476  11128
2  Warehouse Associate  Female   19  ...          5   90208   9268
3    Software Engineer    Male   20  ...          4  108080  10154
4     Graphic Designer    Male   26  ...          5   99464   9319

[5 rows x 9 columns]

dataset: sp500_ibov_2000.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/sp500_ibov_2000.csv
Source : A partir do Yahoo Finance API, https://finance.yahoo.com/

         Date        SP500     IBOV  YYYY-MM
0  2000-01-03  1455.219971  16930.0  2000-01
1  2000-01-04  1399.420044  15851.0  2000-01
2  2000-01-05  1402.109985  16245.0  2000-01
3  2000-01-06  1403.449951  16107.0  2000-01
4  2000-01-07  1441.469971  16309.0  2000-01

dataset: energy_types.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/energy_types.csv
Source : R for Data Science Online Learning Community, https://github.com/rfordatascience

  country country_name                  type  ...     2016     2017       2018
0      BE      Belgium  Conventional thermal  ...  30728.0  31316.0  30092.635
1      BE      Belgium               Nuclear  ...  41430.0  40128.5  26995.628
2      BE      Belgium                 Hydro  ...   1476.0   1360.9   1239.248
3      BE      Belgium    Pumped hydro power  ...   1110.0   1093.2    983.190
4      BE      Belgium                  Wind  ...   5340.0   6387.9   7177.346

[5 rows x 7 columns]

dataset: nightingale.csv
URL    : https://raw.githubusercontent.com/Rogerio-mack/Visualizacao-de-Dados-em-Python/main/data/nightingale.csv
Source : Datasets for Visualization Construction, https://visdatasets.github.io/index.html

   Unnamed: 0        Date Month  ...  Disease.rate  Wounds.rate  Other.rate
0           1  1854-04-01   Apr  ...           1.4          0.0         7.0
1           2  1854-05-01   May  ...           6.2          0.0         4.6
2           3  1854-06-01   Jun  ...           4.7          0.0         2.5
3           4  1854-07-01   Jul  ...         150.0          0.0         9.6
4           5  1854-08-01   Aug  ...         328.5          0.4        11.9

[5 rows x 11 columns]